services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssqlserver-developer-edition
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_PID=Developer
      - SA_PASSWORD=Cbmwjmkq27$*
    volumes:
      - sql-data:/var/opt/mssql
    restart: always

  seq:
    image: datalust/seq:latest
    container_name: seq
    restart: unless-stopped
    environment:
      ACCEPT_EULA: "Y"
      SEQ_FIRSTRUN_NOAUTHENTICATION: "true"
    volumes:
      - seq-data:/data
    ports:
      - "5341:80"
      - "5342:5341"

  api:
    build:
      context: ..
      dockerfile: WebApi/Docker/Dockerfile
    # environment:
    #   - ASPNETCORE_URLS=http://+:8080
    #   - ASPNETCORE_ENVIRONMENT=Development
    #   - Jwt__Issuer=${JWT_ISSUER:-Raptor.Api}
    #   - Jwt__Audience=${JWT_AUDIENCE:-Raptor.Api}
    #   - Jwt__Key=${JWT_KEY:-f2effe638c85e49af04a610a5210cde719057e58528bdcc3037839809c0b64172f8fe158718caf46508278772802dcff00bf5ea603b217a253cc5aa292ed4bbc}
    #   - ConnectionStrings__ProjectDatabase=${DB_CONN:-Server=sqlserver,1433;Database=Project;User ID=sa;Password=${SA_PASSWORD:-Cbmwjmkq27$*};TrustServerCertificate=True;MultipleActiveResultSets=TRUE;}
    #   - CustomLogging__SeqUri=http://seq:5341
    expose:
      - "8080:8080"
    depends_on:
      seq:
        condition: service_started
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 512m

  proxy:
    image: nginx:alpine
    volumes:
      - ../WebApi/Docker/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      api:
        condition: service_started

volumes:
  sql-data:
  seq-data:
    name: seq-data
